*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}
.container{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.opc{
    background-color: black;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
header{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    width: 100%;
    align-items: center;
}
.logo img{
    height: 50px;
    background-color: transparent;
    margin-left: 20px;
    margin-top: 20px;
}
.right{
    margin-right: 30px;
}
.lang select{
    margin-right: 30px;
    height: 30px;
    width: 80px;
    border: 1.5px solid white;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 15px ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.5s, transform 0.5s;
}


.login button{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: white;
    font-size: 15px ;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border 0.1s, transform 0.5s;
}
.login button:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}
.about {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.about h1{
    align-items: center;
    text-align: center;
    font-size: 40px;
}
.one p{
    /* display:block; */
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 20px 0 20px 0;
}
.email{
    align-items: center;
    text-align: center;
    display: flex;
}
.email input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
}
.email button{
    width: 120px;
    height: 40px;
    background-color: red;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    font-weight: bolder;
    color: white;
}
.second{
    width: 100%;
    display: flex;
    height: 80vh;
    /* background-color: blue; */
}
.second-about{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 18%;
    /* display: flex; */
    /* width: 190px; */
}
.second p{
    margin: 20px 0 20px 0;
    font-size: large;
}
.second img{
    position: absolute;
    z-index: 1;
}
.second video{
    position: relative;
    top: 97px;
    left: 79px;
}
.third{
    height: 80vh;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.third-img{
    /* position: relative; */
    bottom: 10px;
}
.third-img .feature-main{
    height: 75px;
    width: 55%;
    background-color: black;
    position: relative;
    bottom: 150px;
    left: 138px;
    display: flex;
}
.feature-main{
    position: absolute;
    justify-content: space-evenly;
    border: 2px solid grey;
    border-radius: 10px;
}
.feature-main-img img{
    height: 72px;
    margin: 2px;
}
.feature-main-about{
    color: white;
    margin-top: 20px;
}
.feature-main-gif img{
    height: 72px;
}

.third-about{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 18%;
}
.third p{
    margin: 20px 0 20px 0;
    font-size: large;
}
.fourth{
    height: 80vh;
    width: 100%;
    display: flex;
}
.fourth-about{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 18%;
}
.fourth img{
    position: absolute;
    z-index: 1;
}
.fourth video{
    position: relative;
    top: 32px;
    left: 114px;
    height: 260px;
    width: 400px;

}
.fourth p{
    margin: 20px 0 20px 0;
    font-size: large;
}
.fifth{
    height: 80vh;
    width: 100%;
    display: flex;
}
.fifth-about{
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    margin-top: 18%;
}
for
.fifth p{
    margin: 20px 0 20px 0;
    font-size: large;
}
.sixth{
    text-align: center;
    height: 100vh;
}
.sixth h1{
    margin-top: 40px;
    color: white;
}
.sixth button{
    height: 35px;
    margin: 20px 0 20px 0;
    font-weight: bolder;
}
.sixth p{
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
}
.sixth input{
    width: 40%;
    height: 35px;
    border: none;
}
.six-btn{
    background-color: red;
    border: none;
    color: white;
    width: 110px;
    outline: none;
}
footer{
    margin: 20px 0 20px 0;
    text-align: center;
    color: white;
}
.cont{
    font-size: 25px;
}
.foot{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.foot p{
    margin: 10px 0 10px 0;
    font-size: 15px;
}
.foot-lang select{
    margin: 20px 0 20px 0;
    height: 29px;
}

.s-fmain{
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 400px;
    margin:auto;
}
.s-main{
    background-color: rgba(0, 0, 0, 0.0);
    width: 300px;
    height: 50vh;
    bottom: 60px;
    position: relative;
}
.s-signin{
    color: white;
    font-weight: bolder;
    margin-bottom: 20px;
}
.s-main .s-in input{
    height: 40px;
    width: 93%;
    margin: 10px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 20px;
    color: white;
    font-size: 17px;
}
.s-btn button{
    height: 40px;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: red;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 17px;
}
.s-btn p{
    color: white;
    text-align: center;
    margin: 5px 0 5px 0;
}
.s-for{
    text-align: center;
    margin-top: 5px;
}
.s-for a{
    color: white;
}
.s-cheak p{
    color: white;
    margin-top: 10px;
}
.s-cheak a{
    color: white;
}





